/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Custom Style*/

*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

h1 {
  background-color: #363636;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 35px 0;
  color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-45 {
  flex: 0 1 48%;
}

.box {
  border: 3px solid #f09f91;
  border-radius: 7px;
  padding: 20px;
  margin: 40px 0;
}

h2 {
  color: #5dd2b2;
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0 25px 0;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 6px 13px;
  text-decoration: none;
  border: 2px solid #dbdbdb;
  border-radius: 5px;
}

form label {
  display: block;
  color: #363636;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.checkbox input {
  display: inline-block;
  color: #794d4a;
}

.checkbox label {
  display: inline-block;
  color: #794d4a;
  font-size: 16px;
  font-weight: 500;
  padding: 0 5px 0 5px;
}

.checkbox {
  margin: 0 0 15px 0;
}

span {
  display: block;
  margin-bottom: 8px;
  color: red;
}
